src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="sapi-smtp-damm-main">
        <http:listener path="${apiPath}" config-ref="HTTP_Listener_config_standard">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sapi-smtp-damm-config" />
    </flow>
    <flow name="sapi-smtp-damm-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config_standard">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sapi-smtp-damm-config" />
    </flow>
    <flow name="post:\mail:application\json:sapi-smtp-damm-config">

		<logger level="INFO" doc:name="Logger" doc:id="95b6d52a-25b4-467b-94ec-007953862778" message='#["Start flow " ++ flow.name]'/>
		<flow-ref doc:name="Flow Reference" doc:id="f6d33bc4-8d71-4853-9f5b-321db978bfdd" name="send_mail-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="4dfe73f5-9b27-452b-9258-344fc95d47b7" message='#["End flow " ++ flow.name]'/>

    </flow>
</mule>
